<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NodeJs App</title>
    <link rel="stylesheet" href="/assets/myStyle.css">
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <h1>This is my first node js app</h1>
    <p>node is awesome !!</p>
  </body>
</html>
